/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */


/* button {
  font-size: calc(10px + 2vmin);
} */
.banner {
  position: relative;
  width: 100%;
  text-align: center;
  overflow: hidden;
}

.bannerDiv {
  display: flex;
}

.bannerimg1 {
  width: 100%;
  height: intrinsic;
}

.bannerimg2 {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
/* ------------Limited Offers CSS */
.limitedtimeHeadingDiv {
  width: 100%;
  display: flex;
  justify-content: center;
}

.limitedtimeHeading {
  font-weight: 700;
  font-size: 3.2rem;
  color: #2f3337;
  line-height: 1.2;
  margin: 0 0 3.2rem;
}

.limitedtimeDiv {
  width: 100%;
}

.universalSpacing {
  padding: 3.2rem 0;
}

.universalSpacingX {
  padding: 2.4rem;
}

.offerContainer,
.categoryContainer {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  width: 100%;
  row-gap: auto;
}

.offerCard {
  width: 14.5rem;
}
.offerCard a {
  text-decoration: none;
}

.categoryCard {
  width: 18.2rem;
}

.offerCardLink,
.categoryCardLink {
  display: inline-block;
  height: 100%;
  text-align: center;
  width: 100%;
}

.offerCardImgDiv,
.categoryCardImgDiv {
  height: 0;
  min-width: 100%;
  padding-bottom: 100%;
  position: relative;
}

.offerCardTitleDiv,
.categoryCardTitleDiv {
  padding: 0.8rem 1.6rem 0;
}

.offerCardImg,
.categoryCardImg {
  width: 100%;
}

.offerCardTitle,
.categoryCardTitle {
  font-weight: 700;
  margin: 0;
  color: #2f336f;
}
section#banner {
  position: relative;
}

.banner img {
  width: 90%;
}
section#banner .banner_content {
  position: absolute;
  top: 4%;
  left: 51%;
  transform: translate(-50%, 50%);
  text-align: center;
  width: 80%;
  color: black;
}
.banner_content h1 {
  font-size: 36px;
  word-spacing: 0px;
}
.banner_content h4 {
  font-size: 26px;
  line-height: 20px;
}
.banner_content p {
  font-size: 13px;
  font-weight: bold;
}
.banner_content .btn_cont button {
  padding: 9px 13px;
  margin: 0 4px;
  min-width: 50px;
  border: none;
  background-color: black;
  color: white;
  transition: all 0.3s ease-in;
  font-weight: 300;
  font-size: 18px;
}
.banner_content .btn_cont button:hover {
  background-color: rgb(49, 47, 47);
}