
body {
    margin: 0px;
    padding: 0px;
    max-width: 1600px;
    margin: auto;
  }
  
  .header {
    width: 100%;
    background-color: white;
    padding-top: 20px;
    padding-bottom: 0px;
    position: sticky !important;
    top: 0;
    z-index: 10;
  }
  
  #compo {
    display: none;
  }
  .Product {
    width: 89%;
    margin: auto;
    margin-bottom: 10px;
  }
  .Product > div {
    width: 80%;
  }
  @media screen and (max-width: 1100px) {
    .Product > div {
      width: 90%;
    }
  }
  @media screen and (max-width: 950px) {
    .Product > div {
      width: 100%;
    }
  }
  @media screen and (max-width: 850px) {
    .Product > div {
      width: 98%;
    }
  }
  
  .Product .path span {
    color: #2f3337;
    font-size: 13px;
    font-weight: 400;
  }
  .Product > div > .path span:hover {
    text-decoration: underline;
    color: #212427;
    cursor: pointer;
  }
  .item {
    display: grid;
    grid-template-columns: 48% 49%;
    grid-template-rows: auto;
    gap: 3%;
  }
  @media screen and (max-width: 750px) {
    .item {
      display: grid;
      grid-template-columns: 100%;
      grid-template-rows: auto auto;
      gap: 3%;
      margin-bottom: 80px;
    }
  }
  .slider1 {
    position: relative;
  }
  .sliders img {
    width: 100%;
    height: 100%;
  }
  .slider1 img {
    border: 1px solid #dadcdf;
  }
  .slider1 button {
    background: hsla(0, 0%, 100%, 0.7);
    border: 1px solid #dadcdf;
    color: #94979b;
    cursor: pointer;
    height: 76px;
    padding: 8px 0 0;
    position: absolute;
    top: 41%;
    width: 40px;
    border-radius: 2px;
  }
  .slider1 .next-arr {
    right: 0px;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
  }
  .slider1 .prev-arr {
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
  }
  .slider2 {
    position: relative;
    /* overflow: hidden; */
    display: grid;
    grid-template-columns: 7% 82% 7%;
    grid-template-rows: auto;
    grid-gap: 1.5%;
    margin: 12px 0px;
  }
  .slider2 .iconSlides {
    width: 267%;
    display: grid;
    grid-template-columns: repeat(13, 7.09%);
    grid-template-rows: auto;
    grid-gap: 0.5%;
    transition: 0.4s;
  }
  .slider2 .iconSlides > div {
    height: 67px;
    border: 1px solid #dadcdf;
  }
  .slider2 .iconSlides > div:hover {
    border: 1px solid #2a7ab0;
  }
  .slider2 > .prev,
  .slider2 > .next {
    background: #f5f6f7;
    border: 1px solid #dadcdf;
    box-shadow: 0 1px 2px rgb(0 0 0 / 5%);
    color: #2f3337;
    cursor: pointer;
    font-size: 22px;
    height: 47px;
    overflow: hidden;
    padding-top: 20px;
    text-align: center;
    width: 30px;
    position: absolute;
    top: 0;
  }
  .slider2 > .next {
    right: 0;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
  }
  .slider2 > .prev {
    left: 0;
    z-index: 1;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
  }
  .slider2 .iconSlides .active {
    border: 1px solid #225e86;
  }
  #iconsSlides {
    overflow: hidden;
  }
  .blackBorder {
    border: 2px solid black !important;
  }
  .e-margin {
    margin: 0px 1%;
  }
  .checked {
    color: #f39019;
  }
  .unchecked {
    color: #bfbfbf;
  }
  .star-rating {
    display: flex;
    margin-top: 7px;
  }
  .star-rating > div:nth-child(2) {
    width: 3%;
    margin-top: 4px;
    margin-left: 1%;
    margin-right: 2%;
  }
  .star-rating > div:nth-child(3) > p {
    margin-top: 2px;
  }
  .star-rating span {
    font-size: 22px;
  }
  .item-info {
    width: 100%;
  }
  .item-info .price {
    display: flex;
    gap: 0.5%;
    margin-top: 8px;
  }
  .item-info .price > span,
  .item-info .price > div {
    font-size: 22px;
    color: #ac1b25;
    display: flex;
    font-weight: 400;
  }
  .item-info .price > div > span {
    font-size: 12px;
    display: block;
    margin-top: -4px;
  }
  .item-info .frameColor {
    display: flex;
  }
  .item-info .frameColor p {
    color: #444;
    font-size: 14px;
    margin: 10px 0;
  }
  .item-info .frameColor p:nth-child(2) {
    color: #2a7ab0;
    font-size: 14px;
    font-weight: 700;
    padding: 0 8px;
    text-transform: capitalize;
  }
  .item-info .frame {
    display: flex;
    gap: 1%;
  }
  .item-info .frame > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .item-info .frame p {
    margin: 0px;
  }
  .item-info .frameDiv {
    margin: 28px 0px;
  }
  .item-info img {
    width: 100%;
    max-height: 60px;
  }
  .item-info .frame-img1 > div {
    max-height: 60px;
    padding: 1px;
  }
  .item-info .frame-img1 {
    border: 1px solid #dadcdf;
    max-height: 62px;
  }
  .item-info .frame-img2 {
    border: 2px solid blue;
    max-height: 60px;
  }
  .item-info .frame-img1:hover {
    border: 2px solid black;
    max-height: 60px;
  }
  .item-info .frame-img1:hover div {
    padding: 0px;
  }
  .item-info .qty {
    width: 42%;
    padding: 8px 10px;
    border: 1px solid #d5d7d8;
    border-radius: 2px;
    height: 2.5vw;
    outline: none;
    font: 12px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
  .item-info .qty:hover {
    outline: 2px solid #d5d7d8;
  }
  .item-info .bar {
    margin-top: 25px;
  }
  .item-info .item-num {
    margin-left: 0;
    margin-bottom: 10px;
    color: #595959;
  }
  .item-info .shop button {
    padding: 6px 5.5%;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: 1px solid #2a7ab0;
    border-radius: 3px;
    text-align: center;
    background-color: #27865f;
    transition: 0.3s;
    border-color: #27865f;
  }
  .item-info .shop button:hover {
    background-color: #095b81;
  }
  .item-info .title {
    color: #2f3337;
    display: block;
    font-weight: 400;
    font-size: 20px;
    margin: 0 0 12px;
    margin-bottom: 3px;
    margin-right: 5px;
    line-height: 26px;
  }
  .item-info .company span {
    font-size: 12px;
  }
  .item-info .company a {
    color: #2a7ab0;
    text-decoration: underline;
    font-size: 12px;
    margin-left: 0.5%;
  }
  .social-header > h2 {
    text-align: left;
    font-weight: 400;
    font-style: italic;
    font-family: Georgia;
    font-size: 13px;
    color: #2f3337;
  }
  .social-icon-container.email {
    border-color: #0187c0;
    color: #0187c0;
  }
  .social-icon-container {
    width: 32px;
    height: 32px;
    border-radius: 100px;
    display: inline-block;
    margin: 0 5px 0 auto;
    text-align: center;
    line-height: 0.7;
  }
  .social-icon-container {
    position: relative;
  }
  .social-icon-container svg {
    position: absolute;
    left: 0%;
  }
  .social-icons .os-share-email svg:nth-child(2),
  .social-icons .os-share-facebook svg:nth-child(2),
  .social-icons .os-share-gplus svg:nth-child(2),
  .social-icons .os-share-pinterest svg:nth-child(2),
  .social-icons .os-share-twitter svg:nth-child(2) {
    opacity: 0;
    transition: opacity 0.5s linear;
  }
  
  .social-icon-container svg {
    position: absolute;
  }
  .social-icons .os-share-email:hover svg:nth-child(2),
  .social-icons .os-share-facebook:hover svg:nth-child(2),
  .social-icons .os-share-gplus:hover svg:nth-child(2),
  .social-icons .os-share-pinterest:hover svg:nth-child(2),
  .social-icons .os-share-twitter:hover svg:nth-child(2) {
    opacity: 1;
    transition: opacity 0.5s linear;
  }
  .social-icons .os-share-email:hover svg:nth-child(1),
  .social-icons .os-share-facebook:hover svg:nth-child(1),
  .social-icons .os-share-gplus:hover svg:nth-child(1),
  .social-icons .os-share-pinterest:hover svg:nth-child(1),
  .social-icons .os-share-twitter:hover svg:nth-child(1) {
    opacity: 0;
    transition: opacity 0.5s linear;
  }
  .social-icons {
    display: flex;
    gap: 1%;
  }
  .quote-icon {
    float: left;
    font-size: 150%;
    padding: 0 10px;
  }
  .feat-rev-content {
    margin: 0px;
    margin-bottom: 5px;
    max-height: 60px;
    overflow: hidden;
    line-height: 20px;
    font-size: 12px;
    color: #626669;
  }
  .reviews-star {
    display: flex;
    width: 34%;
    margin: 20px 0px;
    gap: 2%;
  }
  .reviews-star .reviews-stars {
    display: flex;
    gap: 6%;
  }
  .reviews-star .reviews-stars a {
    color: #2a7ab0;
  }
  .reviews-star .reviews-stars span {
    font-size: 20px;
  }
  .quote-left {
    fill: #626669;
    height: 18px;
    width: 18px;
  }
  .anchor-box {
    display: flex;
    width: 52%;
    gap: 8%;
    border-bottom: 1px solid #0172a0;
  }
  @media screen and (max-width: 650px) {
    .anchor-box {
      gap: 7%;
    }
  }
  @media screen and (max-width: 600px) {
    .anchor-box {
      gap: 4%;
    }
  }
  @media screen and (max-width: 556px) {
    .anchor-box {
      gap: 0%;
    }
  }
  
  .anchor-box > div {
    border-bottom: 2px solid white;
    padding: 4px 8px;
  }
  .anchor-box a {
    font-size: 14px;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    line-height: 1;
    height: 31px;
    color: #444;
    text-decoration: none;
  }
  .anchor-box div:nth-child(1) {
    color: #2a7ab0;
    border-bottom: 1.5px solid #0172a0;
  }
  .anchor-box div:nth-child(1) a {
    color: #2a7ab0;
  }
  .anchor-box div:hover {
    color: #428bca;
    background-color: #ebeef1;
    border-bottom: 1.5px solid #0172a0;
  }
  @media screen and (max-width: 500px) {
    .anchor-box > div {
      padding: 4px 3px;
    }
  }
  @media screen and (max-width: 450px) {
    .anchor-box > div {
      padding: 4px 7px;
    }
    .anchor-box a {
      font-size: 11px;
    }
  }
  .extra-space {
    height: 500px;
  }
  .detailsSpecs {
    display: grid;
    grid-template-columns: 49% 49%;
    grid-template-rows: 30px auto;
    gap: 2%;
    margin-top: 40px;
  }
  .detailsSpecs .none {
    display: none;
  }
  @media screen and (max-width: 750px) {
    .detailsSpecs {
      display: grid;
      grid-template-columns: auto;
      grid-template-rows: repeat(4, auto);
      gap: 2%;
      margin-top: 40px;
    }
    .detailsSpecs .block {
      display: none;
    }
    .detailsSpecs .none {
      display: block;
    }
  }
  .detailsSpecs .details-table {
    border: 1px solid #e8e8e8;
    border-radius: 2px;
    padding: 20px;
  }
  .detailsSpecs .details-table > p:nth-child(1) {
    font-size: 14px;
    margin-bottom: 5px;
    line-height: 20px;
    margin: 0;
    color: #626669;
    font-weight: 400;
  }
  .detailsSpecs .details-table > p:nth-child(2) {
    line-height: 20px;
    font-size: 12px;
    margin: 0;
    margin-top: 4px;
    margin-bottom: 40px;
    color: #626669;
    font-weight: 400;
  }
  .detailsSpecs .details-heading {
    color: #2f3337;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
  }
  .detailsSpecs .details-heading p {
    margin: 0px;
  }
  .detailsSpecs .table {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
  }
  .detailsSpecs .details-table .head {
    font-weight: bolder !important;
    line-height: 20px;
    font-size: 12px;
    margin: 0;
    color: #626669;
    font-weight: 400;
  }
  .detailsSpecs .details-table ul li::before {
    content: "\B7";
    font-size: 25px;
    left: -3px;
    line-height: 20px;
    position: relative;
    top: -2px;
    vertical-align: top;
  }
  .detailsSpecs .details-table ul li {
    list-style: none;
    list-style-type: none;
    display: list-item;
    text-align: -webkit-match-parent;
    color: #626669;
    font-size: 14px;
    margin-left: -41px;
    margin-top: 0px;
  }
  .detailsSpecs .details-table ul {
    margin: 2px 0px;
  }
  .detailsSpecs .details-table .select {
    display: flex;
    gap: 1%;
    margin-bottom: 5px;
    color: #34393d;
    text-align: left;
    padding-bottom: 5px;
    border-bottom: 2px dotted #e8e8e8;
  }
  .detailsSpecs .details-table .select select {
    color: #34393d;
    font-weight: bold;
  }
  .detailsSpecs .details-table .select > svg {
    height: 18px;
    width: 15px;
    fill: #626669;
    margin-top: 2px;
  }
  .detailsSpecs .details-table .select > h2 {
    margin: 0px;
    font-weight: bold;
    margin-top: 2px;
  }
  .detailsSpecs .details-table .table > div:nth-child(odd) {
    font-weight: 700;
    padding: 5px 0;
    color: #595959;
    font-size: 14px;
    border-bottom: 1px dotted #e8e8e8;
    line-height: 1.5;
  }
  .detailsSpecs .details-table .table > div:nth-child(even) {
    padding-top: 5px;
    padding: 5px 0;
    color: #595959;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    border-bottom: 1px dotted #e8e8e8;
  }
  .detailsSpecs .details-table .table > div:last-child {
    border-bottom: none;
    margin-bottom: 20px;
  }
  .detailsSpecs .details-table .table > div:nth-child(35) {
    border-bottom: none;
    margin-bottom: 20px;
  }
  .detailsSpecs .details-table .table > div {
    border-collapse: collapse;
    border-spacing: 0;
  }
  .customerReviews {
    display: grid;
    grid-template-columns: 68% 30%;
    margin-top: 50px;
    gap: 2%;
    grid-template-rows: auto;
  }
  .customerReviews .review_head {
    font-size: 18px;
    color: #2f3337;
    font-weight: 400;
    margin: 4px 0 16px;
  }
  .customerReviews .rating {
    display: inline-block;
    font-size: 55px;
    font-weight: 300;
    height: 50px;
    line-height: 60px;
    margin: -13px 10px 0 0;
    text-align: center;
    vertical-align: baseline;
    color: #444;
  }
  .customerReviews .rating + div span {
    font-size: 20px;
  }
  .customerReviews .reviews-count {
    color: #2f3337;
    font-size: 16px;
    font-weight: 400;
  }
  .customerReviews .all-reviews button {
    border: 1px solid #dadcdf;
    border-radius: 3px;
    color: #2a7ab0;
    font-size: 16px;
    margin-right: 15px;
    padding: 12px 20px;
    text-decoration: none;
    background-color: white;
  }
  .customerReviews .all-reviews button:hover {
    background-color: #2a7ab0;
    color: #fff;
  }
  .customerReviews .all-reviews + div button {
    background-color: #2a7ab0;
    border: none;
    border-radius: 3px;
    color: #fff;
    font-size: 16px;
    padding: 12px 30px;
  }
  .customerReviews .all-reviews + div button:hover {
    background-color: #21628d;
  }
  .customerReviews .rating-div {
    display: flex;
  }
  .customerReviews .reviews-btns {
    display: flex;
  }
  .customerReviews .ratings_btns {
    display: flex;
    gap: 18%;
  }
  .customerReviews .rating-bar {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 15px;
  }
  .customerReviews .rating-bar > div {
    display: grid;
    grid-template-columns: 10% 84% 6%;
    grid-template-rows: auto;
    padding: 5px 10px;
  }
  .customerReviews .rating-bar > div:hover {
    background-color: #f5f6f7;
  }
  .customerReviews .rating-bar > div > div:nth-child(1) {
    color: #2a7ab0;
  }
  .customerReviews .rating-bar > div > div:nth-child(2) {
    background-color: #f5f6f7;
  }
  .customerReviews .rating-bar > div > div:nth-child(3) {
    text-align: right;
    color: #2f3337;
  }
  .customerReviews .rating-bar > div:hover > div:nth-child(2) > div {
    background-color: #f39019;
  }
  .customerReviews .bar1 {
    width: 60.5839%;
    height: 100%;
    background-color: #2a7ab0;
  }
  .customerReviews .bar2 {
    width: 21.1679%;
    height: 100%;
    background-color: #2a7ab0;
  }
  .customerReviews .bar3 {
    width: 11.6788%;
    height: 100%;
    background-color: #2a7ab0;
  }
  .customerReviews .bar4 {
    width: 2.91971%;
    height: 100%;
    background-color: #2a7ab0;
  }
  .customerReviews .bar5 {
    width: 3.64964%;
    height: 100%;
    background-color: #2a7ab0;
  }
  .customerReviews .reviews_imgs {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(2, auto);
    gap: 5%;
    grid-row-gap: 12px;
  }
  .customerReviews .reviews_imgs > div {
    border: 1px solid #dadcdf;
  }
  .customerReviews .reviews_imgs img {
    width: 100%;
    height: 100%;
  }
  @media screen and (max-width: 820px) {
    .customerReviews .ratings_btns {
      gap: 7%;
    }
  }
  @media screen and (max-width: 750px) {
    .customerReviews {
      grid-template-columns: auto;
      margin-top: 130px;
      grid-template-rows: auto auto;
    }
    .customerReviews .ratings_btns {
      gap: 2%;
    }
  
    .customerReviews .rating-bar > div {
      grid-template-columns: 13% 81% 6%;
    }
  }
  @media screen and (max-width: 600px) {
    .customerReviews .rating {
      font-size: 30px;
    }
  }
  @media screen and (max-width: 500px) {
    .customerReviews .all-reviews + div button {
      padding: 12px 0px;
    }
    .customerReviews .all-reviews button {
      padding: 12px 0px;
    }
  }
  .all-images-anchor a {
    color: #2a7ab0;
    font-size: 16px;
    font-weight: 400;
    line-height: 15px;
    cursor: pointer;
    text-transform: none;
  }
  .all-images-anchor {
    display: flex;
    flex-direction: row-reverse;
    padding: 8px 0%;
  }
  .filterDiv {
    margin: 40px 0px;
    display: flex;
    gap: 30%;
  }
  .filterDiv > div {
    display: flex;
    width: 35%;
    justify-content: space-between;
  }
  .filterDiv .dropDownContainer {
    position: absolute;
    border: 1px solid #dadcdf;
    width: 100%;
    left: -1px;
    display: none;
    cursor: pointer;
    background-color: white;
  }
  .filterDiv .dropDownContainer > div {
    padding: 1px 5px;
  }
  .filterDiv .dropDownContainer > div:nth-child(1) {
    background-color: #f5f6f7;
  }
  .filterDiv .stars-dropdown > div {
    display: flex;
    gap: 5%;
  }
  .filterDiv .stars-dropdown span {
    font-size: 17px;
  }
  .filterDiv div {
    color: #626669;
    font-size: 14px;
  }
  .filterDiv .dropDownContainer > div:hover {
    background-color: #f5f6f7;
  }
  .filterDiv > div > div:nth-child(2) {
    border: 1px solid #dadcdf;
    height: 100%;
    line-height: 34px;
    width: 70%;
    padding-left: 10px;
    position: relative;
    cursor: pointer;
  }
  .filterDiv > div > div:nth-child(1) {
    height: 100%;
    line-height: 34px;
    padding-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .filterDiv .dropDown-icon {
    width: 15px;
    height: 15px;
    position: absolute;
    right: 4%;
    top: 10%;
    fill: #626669;
  }
  @media screen and (max-width: 785px) {
    .filterDiv {
      gap: 10%;
    }
    .filterDiv > div {
      width: 50%;
    }
    .filterDiv > div > div:nth-child(1) {
      width: 30%;
    }
  }
  @media screen and (max-width: 585px) {
    .filterDiv {
      gap: 0%;
    }
    .filterDiv > div {
      width: 50%;
    }
    .filterDiv > div > div:nth-child(1) {
      width: 35%;
    }
  }
  .ratings-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .ratings-info > .info-div {
    border: 1px solid #e7e8ea;
    padding: 20px;
  }
  .ratings-info > .info-div > div:nth-child(1) {
    color: #2f3337;
    font-size: 16px;
    margin-bottom: 8px;
  }
  .ratings-info > .info-div > div:nth-child(2) {
    display: flex;
    margin-top: 10px;
    margin-bottom: 15px;
    gap: 1%;
  }
  .ratings-info > .info-div > div:nth-child(2) span {
    font-size: 20px;
  }
  .ratings-info .verified-info {
    padding: 0px 1%;
    color: #626669;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.5;
    border-left: 1px solid #e7e8ea;
    border-right: 1px solid #e7e8ea;
  }
  .ratings-info .verified-info + div {
    color: #626669;
    font-size: 14px;
  }
  .ratings-info > .info-div > div:nth-child(3) {
    color: #626669;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 3px;
    overflow: hidden;
    transition: max-height 1s ease;
    margin: 10px 0px;
  }
  .ratings-info > .info-div > div:nth-child(4) {
    font-weight: 400;
    line-height: 20px;
    color: #626669;
    font-size: 14px;
    display: flex;
    gap: 0.5%;
  }
  .ratings-info > .info-div > div:nth-child(4) > div:last-child {
    color: #2a7ab0;
    margin-left: 5px;
    cursor: pointer;
  }
  .ratings-info > .info-div > div:nth-child(4) > div:last-child:hover {
    text-decoration: underline;
  }
  .ratings-info .info-img img {
    width: 100%;
    height: 100%;
  }
  .ratings-info .info-img {
    width: 8%;
    margin: 20px 0px;
    padding: 1px;
    border: 1px solid #e7e8ea;
  }
  .ratings-info .helpful3 {
    display: flex;
    justify-content: space-between;
  }
  .ratings-info .helpful3 > div:nth-child(1) {
    display: flex;
    width: 100%;
    gap: 1%;
  }
  .ratings-info .helpful3 div {
    color: #545658;
    font-size: 14px;
    line-height: 34px;
    margin-right: 8px;
  }
  .helpful-review-button {
    align-items: center;
    background-color: #fff;
    border: 1px solid #dadcdf;
    border-radius: 3px;
    color: #545658;
    display: flex;
    font-size: 14px;
    gap: 8%;
    height: 34px;
    justify-content: space-between;
    margin-left: 5px;
    max-width: 150px;
    padding: 5px 20px;
    width: auto;
    cursor: pointer;
  }
  .helpful-review-button .icon-like {
    stroke: #545658;
    height: 20px;
    margin-top: 3px;
    width: 42px;
  }
  @media screen and (max-width: 550px) {
    .ratings-info .helpful3 div {
      font-size: 11px;
    }
    .helpful-review-button {
      gap: 0%;
      padding: 2px 3px;
    }
    .helpful-review-button .icon-like {
      width: 19px;
    }
  }
  .expand-reviews {
    margin: 20px 0px;
  }
  .expand-reviews > div:nth-child(1) {
    color: #2a7ab0;
    font-size: 14px;
  }
  .expand-reviews .see-all {
    color: #2a7ab0;
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
    float: right;
    cursor: pointer;
    margin-top: -19px;
  }
  .expand-reviews .see-all:hover {
    text-decoration: underline;
  }
  .expand-reviews .see-all svg {
    float: right;
    height: 16px;
    margin: 3px 0 0 2px;
    stroke: #2a7ab0;
    width: 16px;
  }
  .QA {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
  }
  .QA > div:nth-child(2) {
    display: flex;
    justify-content: flex-end;
  }
  .QA h2 {
    color: #2f3337;
    font-weight: 400;
    font-size: 18px;
    margin: 12px 0 12px;
  }
  .QA button {
    border-radius: 3px;
    background-color: #2a7ab0;
    font-size: 16px;
    font-weight: 400;
    height: 44px;
    line-height: 44px;
    transition: opacity 0.4s ease-in-out;
    width: 190px;
    color: white;
    border: none;
  }
  .QA button:hover {
    background-color: #005f8b;
  }
  .QA-content {
    border: 1px solid #dadcdf;
    border-radius: 3px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .QA-content > div {
    padding: 20px;
  }
  .QA-content > .info > div {
    display: grid;
    grid-template-columns: 2% auto;
    grid-template-rows: auto;
  }
  .QA-content .dark {
    color: #626669;
    font-weight: 700;
    word-wrap: break-word;
    line-height: 20px;
    font-size: 12px;
    margin-bottom: 20px;
  }
  .QA-content div {
    color: #626669;
    font-weight: 400;
    word-wrap: break-word;
    line-height: 20px;
    font-size: 12px;
    margin: 0;
  }
  .QA-content .overstock {
    color: #444;
    font-size: 13px;
    margin-right: 8px;
  }
  .QA-content .existing-q-subscribe,
  .question-follow-toggle {
    float: left;
    font-size: 12px;
    font-weight: 700;
  }
  .QA-content .existing-q-subscribe a,
  .question-follow-toggle a {
    color: #2a7ab0;
    text-decoration: none;
  }
  .QA-content .ppqa-envelope {
    fill: #2a7ab0;
    height: 12px;
    margin-right: 5px;
    vertical-align: middle;
    width: 12px;
  }
  .QA-content .follow {
    color: #2a7ab0;
    vertical-align: middle;
  }
  .QA-content .follow-content {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid #e7e8ea;
  }
  .QA-content .follow-content .ask-ques {
    display: flex;
    justify-content: flex-end;
  }
  .follow-content .ask-ques > div {
    color: #626669;
    font-size: 12px;
    font-weight: 500;
    box-shadow: 0 1px 2px rgb(0 0 0 / 5%);
    background: #f9fafb;
    border: 1px solid #dadcdf;
    padding: 4px 12px;
    width: auto;
    border-radius: 3px;
    text-align: center;
    transition: all 0.1s ease-in-out;
    cursor: pointer;
  }
  .show-all-btn {
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
  }
  .show-all-btn button {
    color: #626669;
    font-size: 13px;
    padding: 6px 12px;
    background: #f9fafb;
    border: 1px solid #dadcdf;
    box-shadow: 0 1px 2px rgb(0 0 0 / 5%);
    width: 30%;
    text-align: center;
    border-radius: 3px;
  }
  .show-all-btn button:hover {
    color: #005f8b;
    background-color: white;
  }
  .shoping-data > div:nth-child(1) {
    color: #2f3337;
    font-weight: 400;
    margin: 20px 0px;
    font-size: 18px;
  }
  .shoping-info {
    border-radius: 3px;
    position: absolute;
    transition: 0.6s;
  }
  .shoping-info > div {
    padding: 20px;
  }
  .shoping-info .normal {
    color: #626669;
    font-weight: 400;
    word-wrap: break-word;
    line-height: 20px;
    font-size: 12px;
    margin: 0;
  }
  .shoping-info .dark {
    color: #626669;
    font-weight: 700;
    word-wrap: break-word;
    line-height: 20px;
    font-size: 12px;
    margin-bottom: 5px;
  }
  .shoping-info > div:nth-child(even) {
    background-color: #fafafa;
  }
  .shoping-info > div:hover {
    background-color: #f5f5f5;
    cursor: pointer;
  }
  .shoping-info-div {
    position: relative;
    border: 1px solid #e8e8e8;
    height: 510px;
    overflow: hidden;
  }
  .navigations {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 13px;
  }
  .navigations > div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .navigations svg {
    fill: #94979b;
    height: 20px;
    cursor: pointer;
    width: 20px;
  }
  .navigations-div {
    border: 1px solid black;
    display: flex;
    justify-content: flex-end;
    padding: 15px 20px;
    border: 1px solid #e8e8e8;
    border-top: none;
    border-radius: 3px;
  }
  #tips-inpsiration-chevron {
    fill: #b6b9bd;
    cursor: default;
  }
  .anchor-links > div:nth-child(1) {
    color: #2f3337;
    font-weight: 400;
    margin: 20px 0px;
    margin-top: 60px;
    font-size: 18px;
  }
  .anchor-links > div:nth-child(2) {
    border: 1px solid black;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: auto auto;
    border: 1px solid #e8e8e8;
    grid-row-gap: 4px;
    border-radius: 3px;
  }
  .anchor-links > div a {
    min-height: 35px;
    padding-bottom: 4px;
    padding-right: 10px;
    color: #2a7ab0;
    font-size: 12px;
    display: block;
    line-height: 14px;
    font-weight: 700;
    text-decoration: none;
  }
  .anchor-links > div a:hover {
    text-decoration: underline;
  }
  @media screen and (max-width: 750px) {
    .anchor-links > div:nth-child(2) {
      grid-template-columns: repeat(2, 50%);
      grid-template-rows: auto;
    }
  }
  @media screen and (max-width: 550px) {
    .anchor-links > div:nth-child(2) {
      grid-template-columns: 100%;
      grid-template-rows: auto;
    }
  }
  @media screen and (max-width: 750px) {
    .shoping-info-div {
      height: 750px;
    }
  }
  @media screen and (max-width: 600px) {
    .shoping-info-div {
      height: 792px;
    }
  }
  @media screen and (max-width: 500px) {
    .shoping-info-div {
      height: 932px;
    }
  }
  @media screen and (max-width: 400px) {
    .shoping-info-div {
      height: 1069px;
    }
  }
  @media screen and (max-width: 350px) {
    .shoping-info-div {
      height: 1258px;
    }
  }
  #Product-header {
    height: 90px;
    width: 100%;
    background-color: #ffffff;
    position: fixed;
    max-width: 1600px;
    top: 0px;
    z-index: 2;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: none;
  }
  #Product-header > div {
    padding-top: 5px;
    width: 89%;
    margin: auto;
    display: flex;
    gap: 1.3%;
  }
  .Product-header-img > img {
    width: 100%;
    height: 100%;
  }
  .Product-header-img {
    width: 75px;
    height: 75px;
    border: 1px solid #DADCDF;
  }
  .Product-header-info {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .Product-header-info .anchor-box {
    width: 100%;
    border-bottom: none;
    margin-top: 8px;
    padding-top: 2px;
    border-top: 1px solid #DADCDF;
  }
  .Product-header-info > div:nth-child(1) {
    color: #2f3337;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.4;
    margin-bottom: 6px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .Product-header-info > div:nth-child(2) {
    color: #2f3337;
    font-family: Helvetica Neue-Medium, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1;
  }
  .Product-header-info #active-anchor-box {
    color: #2a7ab0;
    border-bottom: 2px solid #0172a0;
  }
  .Product-header-info #active-anchor-box a{
    color: #2a7ab0;
  }
  .Product-header-info .anchor-box div:hover {
    border-bottom: 2px solid #0172a0;
    cursor: pointer;
  }
  .Product-header-info .anchor-box div:nth-child(1) a{
    color: #2f3337;
  }
  .Product-header-info .anchor-box div:nth-child(1){
    border-bottom: none;
  }
  @media screen and (max-width:1100px) {
    #Product-header {
      display: none !important;
    }
  }